@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --White_card: hsl(0, 0%, 100%);
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
    --Red_error: hsl(0, 100%, 66%);
}

.desktop {
    font-size: 25px;
    color: var(--Dark_grayish_violet); 
    background: #fff;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('/interactive-card-details-form-main/images/bg-main-desktop.png') repeat-y;
}

.wrapper__card_front {
    color: #fff;
    position: absolute;
    top: 200px;
    left: 13%;
}

.circle__white {
    transition: .6s;
    position: absolute;
    top: 9%;
    left: 6%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle__border {
    transition: .6s;
    position: absolute;
    top: 13%;
    left: 20%;
    background-color: transparent;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrapper__card_back {
    position: absolute;
    top: 484px;
    left: 18%;
}

.feedback__input {
    display: block;
    transition: 1s;
    position: absolute;
    top: 272px;
    right: 16%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.feedback__input_finish {
    transition: 1s;
    display: none;
    border-radius: 5px;
    width: 372px;
    height: 350px;
    background-color: rgb(255 255 255 / 90%);
    position: absolute;
    top: 230px;
    right: 16%;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.form__input {
    transition: .5s;
    width: 350px;
    display: block;
    padding: 10px;
    margin: 5px 0px 15px;
    border: 1px solid rgba(12, 14, 46, 0.52);
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.form__input:hover {
    transition: .5s;
    background-color: rgb(220 221 225);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.form__input::placeholder {
    opacity: .6;
}

.date__mm,
.date__yy {
    width: 80px;
}

.cvc {
    width: 133px;
}

.date__mm, 
.date__yy,
.cvc {
    display: inline;
}

label,
button {
    color: var(--Very_dark_violet);
    opacity: .8;
    display: block;
    font-size: 15px;
}

.wrapper__mm_yy, .wrapper__cvc {
    display: inline-block;
}

.button__confirm,
.button__return {
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    color: #fff;
    border: 1px solid #000;
    background: #000000fc;
}

.button__confirm:hover,
.button__return:hover {
    border: 1px solid #4f4c4cfc;
    background: #4f4c4cfc;
}

.button__confirm:active,
.button__return:active {
    border: 1px solid #8e8e8efc;
    background: #8e8e8efc;
}

.cardnumber__front {
    transition: .6s;
    position: absolute;
    top: 121px;
    left: 41px;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.cardname__front {
    transition: .6s;
    position: absolute;
    font-size: 19px;
    bottom: 10%;
    left: 7%;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.carddate__front_mm {
    transition: .6s;
    position: absolute;
    bottom: 10%;
    right: 17%;
}

.carddate__front_yy {
    transition: .6s;
    position: absolute;
    bottom: 10%;
    right: 7%;
}

.carddate__front_delimiter {
    position: absolute;
    bottom: 11%;
    right: 65px;
}

.cvc__back {
    position: absolute;
    font-size: 15px;
    top: 110px;
    right: 49px;
    color: #d8d9de;
}

/* input:invalid {
    border: 1px solid rgba(255, 0, 0, 0.437); 
    } */

input:valid {
    border: 1px solid rgba(55, 255, 0, 0.598); 
    }

.check {
    width: 80px;
    height: 80px;
}

.title__bold {
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}

.title__light {
    color: black;
    font-size: 20px;
}

.attribution { 
    color: #fff;
    font-size: 8px;
    margin-top: 5px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 800px) {

.mobile {
    display: block;
    background: url('/interactive-card-details-form-main/images/bg-main-mobile.png') no-repeat;
}

.form__input {
    width: 275px;
}

.date__mm,
.date__yy {
    width: 65px;
}

.carddate__front_yy,
.carddate__front_mm,
.carddate__front_delimiter {
    font-size: 15px;
}

.carddate__front_delimiter {
    right: 43px;
}

.cvc {
    width: 87px;
}

.cvc__back {
    top: 71px;
    right: 35px;
}

.cardname__front {
    font-size: 13px;
}

.cardnumber__front {
    top: 87px;
    font-size: 17px;
}

.wrapper__card_front {
    top: 143px;
    left: 5%;
    z-index: 10;
}
.wrapper__card_back {
    top: 27px;
    left: 15%;
    z-index: 0;
}

.circle__white {
    width: 30px;
    height: 30px;
}

.circle__border {
    width: 15px;
    height: 15px;
}

.img__card {
    width: 300px;
}

.feedback__input {
    top: 318px;
    right: 39px;
}

.feedback__input_finish {
    top: 305px;
    right: 1px;
}
}

